{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "object-curly-newline": ["error", {
      "ObjectPattern": { "multiline": true },
    }],
    "react/no-array-index-key": "warn"
  }
}
