.pianoroll {
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-items: stretch;
}

.key,
.sharpKey {
  background-color: #fff;
  flex-grow: 4;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
  border-radius: 2px;
}

.sharpKey {
  background-color: #000;
  flex-grow: 3;
  border-left: none;
  border-right: none;
}

.key.selectedKey {
  background-color: var(--secondary-color-lighter);
  border-color: var(--secondary-color-lighter);
}

.sharpKey.selectedKey {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}
