.legend {
  text-align: center;
}

.sliders {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  height: 100px;
}

.activeSlider:after {
  background-color: var(--primary-color-darker) !important;
}
