body {
  background: linear-gradient(180deg, #333333 50%, #1392D3 50%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  height:100%;
  color: #fff;
}

.container {
  width: 750px;
  height: 650px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #111111;
  padding: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controlPanel {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.modePicker {
  flex-direction: column;
  flex-shrink: 1;
}

.rootPicker {
  flex-direction: column;
  flex-shrink: 1;
}

.controls {
  flex-grow: 1;
  padding-left: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bpmLoopControls {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  padding: 10px 0;
}

.slider {
  color: #40bfff;
}

.bpmLabel {
  color: #eee;
}
.bpmPicker {
  display: flex;
  flex-grow: 1;
  flex-basis: 50%;
  margin: 0 60px 0 30px;
}

.loopPicker {
  flex-grow: 1;
  flex-basis: 50%;
}

.orderPicker, .progressionPicker {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px 0;
}

.progressionControls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.wavyBackground {
  width: 100%;
  height: 50%;
  top: 50%;
  position: fixed;
  color: #fff;
  background: linear-gradient(-45deg, #b4006f, #1392D3);
  background-size: 400% 400%;
  animation: Gradient 10s ease infinite;
  }

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
