.container {
  width: 800px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--background-color-darker);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px #111f;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.sidePanel {
  width: 450px;
}

.wavyBackground {
  width: 100%;
  height: 50%;
  top: 50%;
  position: fixed;
  background: linear-gradient(-45deg, var(--secondary-color), var(--primary-color));
  background-size: 400% 400%;
  animation: Gradient 10s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bpmLine {
  justify-content: space-between;
}

.bpm {
  transform: translateX(10px);
  width: 200px;
  gap: 0.5rem !important;
}

.bpmLegend {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bpmLegend div {
  font-size: 0.75rem;
  color: var(--neutral-text-color);
}

.bpmLeftMark {
  position: relative;
  left: -10px;
}

.bpmRightMark {
  position: relative;
  right: -10px;
}
