.horizontalSlider {
  height: 15px;
}

.track {
  position: relative;
  background: var(--primary-color-darker);
  border-radius: 5px;
  height: 3px;
  top: 50%;
  transform: translate(0%, -50%);
}

.mark {
  margin: calc(25px - 6px) 0;
  left: calc(50% - 6px);
}

.thumb {
  top: 50%;
  transform: translate(0%, -50%);
  width: 15px;
  height: 15px;
}

.thumbTick {
  position: absolute;

  background-color: var(--primary-color);
  color: var(--neutral-text-color);
  cursor: pointer;
  box-sizing: border-box;

  top: 50%;
  transform: translate(0, -50%);

  width: 15px;
  height: 15px;
  border-radius: 15px;
}

.tooltip {
  position: absolute;

  --b: 1em;
  --h: 0.5em;
  --p: 50%;
  --r: 0.6em;

  background: var(--primary-color);

  border-radius: var(--r) var(--r) min(var(--r), 100% - var(--p) - var(--b) / 2)
    min(var(--r), var(--p) - var(--b) / 2) / var(--r);
  clip-path: polygon(
    0 100%,
    0 0,
    100% 0,
    100% 100%,
    min(100%, var(--p) + var(--b) / 2) 100%,
    var(--p) calc(100% + var(--h)),
    max(0%, var(--p) - var(--b) / 2) 100%
  );

  border-image-slice: fill 0;
  border-image-source: conic-gradient(var(--primary-color) 0 0);
  border-image-outset: 0 0 var(--h);
  border-image-width: var(--r) calc(100% - var(--p) - var(--b) / 2) 0 calc(var(--p) - var(--b) / 2);

  left: 50%;
  transform: translate(-50%, -40px);

  width: 40px;
  height: 30px;

  line-height: 30px;
  text-align: center;
}

.hidden {
  display: none;
}
