.legend {
  width: 30px;
  display: flex;
  margin: 5px 5px;
  height: 100%;
}

.legend .track {
  position: relative;
  width: 2px;
  color: var(--text-color);
  border-left: 2px solid var(--background-color-lighter);
  left: 25%;
}

.legend .marks {
  font-size: 0.75rem;
  color: var(--text-color);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  top: -5px;
  height: 110px;
  transform: translateX(15px);
}

.legend .marks div:before {
  content: '';
  position: relative;
  width: 3px;
  height: 2px;
  background-color: var(--text-color);
  display: block;
}

.topMark:before {
  transform: translate(-12px, 5px);
}

.bottomMark:before {
  transform: translate(-12px, 10px);
}
