.rail {
  background-color: var(--primary-color-darker) !important;
}

.track {
  background-color: var(--primary-color) !important;
}

.handle:after {
  background-color: var(--primary-color) !important;
  box-shadow: 0 0 0 2px var(--primary-color) !important;
}
